* {
    cursor: default;
}
html, body {
    text-align: center;
    margin:  0;
    padding: 0;
    font-family: Tahoma, Verdana, non-serif;
    background: #222;
    font-size: 18px;
    min-height: max(100vh, 300px);
    min-width: 300px;
}
a, button, a *, button * {
    cursor: pointer;
    border: none;
}
noscript {
    display: block;
    margin: auto;
    color: white;
    padding: 100px;
}
#score,
#btns,
#topPanel,
#imgContainer {
    opacity: 0;
}
#score {
    position: absolute;
    width: 90px;
    margin: 35px 0 0 calc(50vw - 50vh - 84px);
}
#score > div {
    margin-bottom: 4px;
}
#score > div > div {
    background-color: #aaa;
    font-size: 13px;
    padding: 0 8px;
}
#score #totalScoreTitle {
    background-color: #ccc;
    color: #9900cc;
    font-size: 18px;
}
#score #totalScore {
    background-color: #eee;
    font-size: 24px;
}
#score #dalle2ScoreTitle,
#score #dalle2Score {
    color: #004400;
}
#score #notDalle2ScoreTitle,
#score #notDalle2Score {
    color: #660000;
}
#score span {
    font-size: 18px;
    background: #ccc;
    width: 100%;
    display: inline-block;
}

#btns {
    position: absolute;
    width: 90px;
    margin: 35px 0 0 calc(50vw + 50vh - 5px);
}

#btns button,
#newImgBtnResult {
    font-size: 13px;
    width: 100%;
    margin: 1px 0 4px;
    height: 56px;
    cursor: not-allowed;
    padding: 0 10px;
    opacity: 0.5;
    color: #fff6;
    border: solid 1px #fff6;
}
#btns button * {
    cursor: not-allowed;
}
#btns button:hover {
    color: #fff6;
    border: solid 1px #fff6;
}

#btns #realDalle2Btn {
    background-color: #445544;
}
#btns #notDalle2Btn {
    background-color: #996666;
}
#btns #newImgBtn,
#newImgBtnResult {
    color: #fffc;
    background-color: #ddaa00;
    cursor: pointer;
    opacity: 1;
}
#btns #newImgBtn *,
#newImgBtnResult * {
    cursor: pointer;
}
#newImgBtnResult {
    margin: 12px 0 0 0;
    padding: 8px;
    height: auto;
}
#btns #showTitleBtn {
    background-color: #446699;
    margin-bottom: -20px;
    padding-top: 0;
    height: calc(56px - 19px);
    line-height: 15px;
}

#btns .answerPending {
    color: #fffc;
    border: solid 1px #333;
    cursor: pointer;
    opacity: 1;
}
#btns .answerPending * {
    cursor: pointer;
}
#btns #newImgBtn,
#newImgBtnResult,
#btns #realDalle2Btn.answerPending:hover,
#btns #notDalle2Btn.answerPending:hover {
    color: white;
    border: solid 1px white;
}
#btns #realDalle2Btn.answerPending {
    background-color: #008800;
}
#btns #notDalle2Btn.answerPending {
    background-color: #ff0000;
}

#btns #showTitleBtn.answerPending {
    background-color: #003388;
    color: #fffc;
    border: solid 1px #333;
    cursor: pointer;
}
#btns #showTitleBtn.answerPending:hover {
    color: white;
    border: solid 1px white;
}

#btns #showTitleAlways {
    display: block;
    font-size: 11px;
    background-color: #003388;
    color: #fffa;
    cursor: pointer;
    outline: solid 1px #fff6;
    border-top: none;
    height: 19px;
}
#btns #showTitleAlways input {
    margin: 3px 4px 0 0;
}

#topPanel {
    position: absolute;
    left: calc(50vw - 50vh + 17px);
    z-index: 20;
    overflow: hidden;
    line-height: 22px;
    margin: 1px auto 0 auto;
    background-color: #6999dd;
    color: #112244;
    min-width: 257px;
    width: calc(100vh - 34px);
    border: solid 1px #136;
}

#postTitle {
    display: inline-block;
    max-width: calc(100vh - 34px - 100px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
    -webkit-transition: max-height 0.8s ease-in-out;
    -moz-transition:    max-height 0.8s ease-in-out;
    -o-transition:      max-height 0.8s ease-in-out;
    transition:         max-height 0.8s ease-in-out;
    max-height: 30px;
}
#postTitle a {
    color: #136;
}
#topPanel #postTitle:hover,
#topPanel.force-visible #postTitle {
    max-height: 1000px; /* transitions do not work with heigh: auto */
    white-space: normal;
    overflow: hidden;
    text-overflow: visible;
}

#topPanel button {
    background-color: #136;
    border: solid 1px #136;
    height: 30px;
    color: #69d;
    cursor: pointer;
}
#backHistoryBtn {
    float: left;
    padding: 0 8px 0 4px
}
#nextHistoryBtn {
    float: right;
    padding: 0 4px 0 8px;
}
#topPanel button.disabled {
    visibility: hidden;
}
#backHistoryBtn:hover,
#nextHistoryBtn:hover {
    color: white;
    border: solid 1px #69d;
}

#imgContainer {
    z-index: 10;
    position: absolute;
    top: 31px;
    overflow: hidden;
    margin: 0 auto;
    outline: solid 1px black;
    min-height: 257px;
    min-width:  257px;
    height: calc(100vmin - 34px);
    width:  calc(100vmin - 34px);
    left: calc(50vw - 50vh + 17px);
    background: #999;
}
#loading,
#result,
#fakeWatermark {
    position: absolute;
    width:  100%;
    height: 100%;
}
#fakeWatermark {
    z-index: 9999;
}
#loading {
    margin-top: calc(40vh - 85px);
    font-size: calc((100vmin - 34px) / 10);
    color: #666;
}
.lds-spinner {
  transform: scale(calc(100% * 1vmin));
}

#result {
    position: absolute;
    z-index: 200;
    visibility: hidden;
    background-color: rgba(0,0,0,0.75);
    height: auto;
    padding: 24px calc((100vmin - 34px) / 10) 32px;
    font-size: max(14px, calc((100vmin - 34px) / 30));
    margin-top: calc(25vh - 24px);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 0 0;
    -webkit-transition: transform  0.8s ease-in-out,
                        box-shadow 0.8s ease-in,
                        filter 0.8s 0.4s ease;
    -moz-transition:    transform  0.8s ease-in-out,
                        box-shadow 0.8s ease-in,
                        filter 0.8s 0.4s ease;
    -o-transition:      transform  0.8s ease-in-out,
                        box-shadow 0.8s ease-in,
                        filter 0.8s 0.4s ease;
    transition:         transform  0.8s ease-in-out,
                        box-shadow 0.8s ease-in,
                        filter 0.8s 0.4s ease;
    filter: saturate(0);
    -webkit-transform:  scale(0);
    -moz-transform:     scale(0);
    -o-transform:       scale(0);
    transform:          scale(0);
}
#result.correct { background-color: #99cc99f6; }
#result.wrong   { background-color: #cc9999f6; }

#result.correct #resultText h1 {color: darkGreen; }
#result.wrong   #resultText h1 {color: red; }

#result.correct,
#result.wrong {
    visibility: visible;
    filter: saturate(1);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 16px 16px;
    -webkit-transform: scale(1);
    -moz-transform:    scale(1);
    -o-transform:      scale(1);
    transform:         scale(1);
}
#result a {
    color: #00c;
}
#result a:visited {
    color: #90c;
}

#closeResultBtn {
    float: right;
    background: none;
    color: white;
    font-size: 32px;
    line-height: 20px;
    margin: -8px calc(12px - (100vmin - 34px) / 10);
}

#resultText h1 {
    display: inline-block;
    font-size: max(20px, calc((100vmin - 34px) / 16));
    font-weight: bold;
    margin-bottom: 8px;
}

#postLink {
    display: block;
    margin: 3px 0 0;
}
#user {
    display: block;
    font-size: 90%;
}

#mainImage {
    position: absolute;
    z-index: 100;
    object-fit: cover;
    height: 100%;
    width:  100%;
    outline: solid 1px #444;
}

#helpBtn {
  position: absolute;
  color: #ccc;
  bottom: 20px;
  left: 20px;
  border: solid 2px #ccc;
  border-radius: 20px;
  display: block;
  width: 30px;
  background: none;
}
#helpBtn:hover {
  color: white;
  border-color: white;
}

#help {
    display: none;
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    background: #1c3f71;
    color: #ddd;
    text-align: left;
    overflow-y: scroll;
    font-size: 16px;
    padding-bottom: 24px;
}
#closeHelpBtn {
    float: right;
    background: none;
    color: white;
    line-height: 18px;
    padding: 13px;
    margin-right: -12px;
    margin-top: -9px;
}
#help h1 {
    font-size: 20px;
    background-color: red;
    text-align: center;
    padding: 2px 12px;
}
#help h2 {
    text-align: center;
}
#help h3, p, ul {
    margin-left: 24px;
    margin-right: 24px;
}
#help a,
#help a:visited {
    color: #ddd;
}
#help a:hover {
    color: white;
}

#help pre {
    display: inline;
}

#swipeHelpLeft,
#swipeHelpRight {
    display: none;
    position: absolute;
    top: calc((100vh - 100px)/2);
    color: white;
    width: 125px;
    padding: 18px 12px;
    z-index: 999;
    font-size: 15px;
    box-shadow: #0006 0 5px 30px;
}
#swipeHelpLeft {
    background: #e00d;
    left: 0px;
    border-radius: 0 12px 12px 0;
}
#swipeHelpRight {
    background: #0c0e;
    right: 0px;
    border-radius: 12px 0 0 12px;
}


@media screen and (max-height: 300px) and (orientation:landscape) {
    #score {
        margin-left: calc(50vw - 265px/2 - 101px);
    }
    #btns {
        margin-left: calc(50vw + 265px/2 + 12px);
    }
    #topPanel {
        left: 488px;
        left: calc(50vw - 265px/2);
        width:  265px;
    }
    #postTitle {
        max-width: 166px;
    }
    #imgContainer{
        left: calc(50vw - 265px/2);
        height: 265px;
        width:  265px;
    }
    #loading {
        margin-top: 35.5px;
        font-size: 26.5px;
    }
    .lds-spinner {
      width: 80px;
      height: 80px;
    }
}

@media screen and (max-aspect-ratio: 33/24) {
    #score {
        width: 300px;
        margin: 0;
        position: absolute;
        left: max(0px, calc(50vw - 300px/2));
    }
    #score > div {
        float: left;
        margin: 0 1px;
    }
    #score > div > div {
        width: 98px;
        height: 29px;
        line-height: 28px;
        padding: 0;
    }
    #score > div > span,
    #score #totalScore {
        margin: 0;
        font-size: 18px;
    }

    #btns {
        width: 298px;
        margin: 0;
        position: absolute;
        top: 56px;
        left: max(0px, calc(50vw - 298px/2));
    }
    #btns > button,
    #btns > div {
        float: left;
        width: calc(298px/4);
        padding: 0;
    }

    #topPanel {
        position: absolute;
        top: calc(113px + max(0px, calc((100vh - 180px - min(100vw, calc(100vh - 147px))) / 3)));
        left: max(0px, calc(50vw - (100vh - 147px)/2));
        min-width:  300px;
        width: min(100vw, calc(100vh - 147px));
    }
    #postTitle {
        max-width: calc(min(100vw, calc(100vh - 147px)) - 100px);
    }
    #imgContainer{
        position: absolute;
        top: calc(145px + max(0px, calc((100vh - 180px - min(100vw, calc(100vh - 147px))) / 3)));
        left: max(0px, calc(50vw - (100vh - 147px)/2));
        min-height: 300px;
        min-width:  300px;
        width: min(100vw, calc(100vh - 147px));
        height: min(100vw, calc(100vh - 147px));
    }
    #loading {
        margin-top: max(75px, calc(min(100vw, calc(100vh - 147px)) / 4));
        font-size: max(32.7px, min(10vw, calc(100vh - 147px) / 10));
    }
    #result {
        margin-top: max(38px, calc(min(100vw, calc(100vh - 147px)) / 8));
    }
    #helpBtn {
        bottom: auto;
        top: 20px;
    }
}
@media screen and (max-aspect-ratio: 33/24) and (min-width: 700px) {
    #score {
        left: max(0px, calc(50vw - 600px/2));
    }
    #score > div > span,
    #score #totalScore {
        font-size: 19px;
    }

    #btns {
        top: 0;
        left: max(0px, calc(50vw + 1px));
    }
    #topPanel {
        top: 57px;
        left: max(0px, calc(50vw - (100vh - 90px)/2));
        min-width:  300px;
        width: min(100vw, calc(100vh - 90px));
    }
    #postTitle {
        max-width: calc(min(100vw, calc(100vh - 90px)) - 100px);
    }
    #imgContainer{
        position: absolute;
        top: 89px;
        left: max(0px, calc(50vw - (100vh - 90px)/2));
        min-height: 300px;
        min-width:  300px;
        width: min(100vw, calc(100vh - 90px));
        height: min(100vw, calc(100vh - 90px));
    }
    #loading {
        font-size: max(29.7px, min(100vw, calc(100vh - 90px) / 10));
    }
}
@media screen and (max-aspect-ratio: 33/24) and (max-width: 420px) {
    #score,
    #btns {
        left: 0px;
    }
    #helpBtn {
        left: auto;
        right: 20px;
        bottom: auto;
        top: 20px;
    }
}
@media screen and (max-aspect-ratio: 33/24) and (max-height: 444px) {
    #topPanel,
    #imgContainer {
        left: max(0px, calc(50vw - 300px/2));
    }
    #postTitle {
        max-width: 200px;
    }
}
